.mainCont{
  border: 2px solid;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 30px;
}

.displayContainer{
  border-left: 1px solid ;
  height: 70vh;
  overflow-x:hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
